<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="referrer" content="no-referrer" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link
        rel="shortcut icon"
        type="image/x-icon"
        href="https://cdn.izelas.run/makefuture/static/makefuture.png"
      />
        <link
            rel="stylesheet"
            href="https://cdn.izelas.run/vendors/mekatok-base.css"
        />
        <title>nodejs-server</title>
    </head>
    <body>
        <div>404</div>
       
    </body>
</html>
